body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-size: 25px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:center;
}
.topbar{
  height:32px;
  background-color: #555;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title{
  background-color: #777;
}


/*/////////////////////////////////
DANCERS
/////////////////////////////////*/
.dancer{
  border:75px solid yellow;
  border-radius:75px;
  position: absolute;
}


.dizzy{
  border:75px solid pink;
  border-radius:75px;
  position: absolute;
}

.bouncy{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('happyPoro.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border:0;
  position: absolute;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 5s infinite linear;
}

/*.blinky{
  background-image: url(poro.gif);
}
*/