body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(poroBackground.png);
  /*background-attachment: fixed;*/
  background-size: cover;
  height: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpDancersButton{
  padding:5px 12px;
  float:center;
}
.topbar{
  height:32px;
  background-color: #555;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title{
  background-color: #777;
}


/*/////////////////////////////////
DANCERS
/////////////////////////////////*/
.dancer{
  -webkit-transition: top 1s, left 1s;
  border:75px solid yellow;
  border-radius:75px;
  position: absolute;
}


.dizzy{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('sleepyPoro.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border:0;
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 5s infinite linear;
}

.bouncy{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('happyPoro.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border:0;
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 5s infinite linear;
}

.mustached{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('derpyPoro.png');
  background-size: 100%;
  background-repeat: repeat;
  border:0;
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 5s infinite linear;
}

/*.blinky{
  background-image: url(poro.gif);
}
*/